body {
  text-align: center;
  font-family: "courier";
}

h1 {
  color: rgb(50,50,50);
}

button {
  height: 2.5em;
  width: 2.5em;
  background-color: #24A0ED;
  border: none;
  color: white;
  padding-block: 5px;
  margin: 2px;
  border-radius: 50%;
}

#res {
  height: 2em;
}

#btn {
  display: inline-flex;
}

#num button {
}

#opr button {
  background-color: #DD7973;
}

#acl button {
  background-color: #5adbb5;
}

#clc {
}
